<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774775392985-9cm9l3svdcpehfkkbebnh0h6blikkl87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774775392985-9cm9l3svdcpehfkkbebnh0h6blikkl87</string>
	<key>API_KEY</key>
	<string>AIzaSyDHr8CirvKnnFKTzLAlgZ9kfl2n1c-Bsu4</string>
	<key>GCM_SENDER_ID</key>
	<string>774775392985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victoriano.FirebaseConfiguracao</string>
	<key>PROJECT_ID</key>
	<string>fir-configuracao-c4fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-configuracao-c4fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774775392985:ios:63da00d7e5417b8d2cccc8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-configuracao-c4fbc.firebaseio.com</string>
</dict>
</plist>